<!doctype html>
<!--suppress HtmlUnknownAttribute -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TerminalOuterWilds</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/main.css" th:href="@{/main.css}" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/htmx.org@1.8.2"></script>
</head>
<body>

<script src="../static/clipboard.js" th:src="@{/clipboard.js}"></script>
<script src="../static/htmx-triggers.js" th:src="@{/htmx-triggers.js}"></script>

<script>
    document.body.addEventListener('htmx:beforeRequest', function (evt) {
        const key = evt.detail.requestConfig.triggeringEvent.key

        // Prevent any request that is not pressing Enter.
        if (key !== "Enter") {
            evt.preventDefault()
        }
    });

    document.body.addEventListener('htmx:afterRequest', function () {
        // Clear the after the input box after we executed a command.
        clearCommandInput()
        scrollToBottom()
    });

    function clearCommandInput() {
        document.getElementById('command').value = '';
        document.getElementById('command').focus()
    }

    function scrollToBottom() {
        const body = document.getElementById("body");
        body.scrollTop = body.scrollHeight;
    }

    function startFullScreen() {
        document.getElementById('full-screen').style.display = "block"
        document.getElementById('terminal').style.display = "none"

        document.onkeyup = function (e) {
            if (e.key === "q") {
                finishFullScreen()
            }
        };
    }

    function finishFullScreen() {
        document.getElementById('full-screen').style.display = "none"
        document.getElementById('terminal').style.display = "block"
        document.onkeyup = null
        clearCommandInput()
        scrollToBottom()
    }
</script>

<div class="container">
    <div class="terminal">

        <section class="title-bar">
            <div class="buttons">
                <button class="button button-exit">&#10005;</button>
                <button class="button">&#9472;</button>
                <button class="button">&#9723;</button>
            </div>
            <p class="title">Outer Wilds</p>
        </section>

        <!-- Terminal Body -->
        <section id="body" class="body">
            <div id="full-screen" style="display: none">

            </div>
            <div id="terminal" style="display: block">
                <div id="executed-commands">
                    <div>
                        <div>
                        <span class="line-response">
   ____    _    _   _______   ______   _____     __          __  _____   _        _____     _____
  / __ \  | |  | | |__   __| |  ____| |  __ \    \ \        / / |_   _| | |      |  __ \   / ____|
 | |  | | | |  | |    | |    | |__    | |__) |    \ \  /\  / /    | |   | |      | |  | | | (___
 | |  | | | |  | |    | |    |  __|   |  _  /      \ \/  \/ /     | |   | |      | |  | |  \___ \
 | |__| | | |__| |    | |    | |____  | | \ \       \  /\  /     _| |_  | |____  | |__| |  ____) |
  \____/   \____/     |_|    |______| |_|  \_\       \/  \/     |_____| |______| |_____/  |_____/

Welcome to this magical server. Take a look around and enjoy yourself with the puzzles.
If this is your first time playing, type 'help' and press enter.
                        </span>
                        </div>
                    </div>
                </div>
                <div id="console-input-container">
                    <span id="current-location-span" class="line-location">[tutorial] ></span>
                    <input id="current-location" name="location" type="hidden" value="tutorial">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input id="command" name="command" type="text" class="console-input" autofocus
                           hx-post="post-command" hx-include="#current-location"
                           hx-trigger="keyup"
                           hx-target="#executed-commands"
                           hx-swap="beforeend"/>
                </div>
            </div>
        </section>
    </div>
</div>

</body>
</html>
