<div id="full-screen" hx-swap-oob="true" onkeyup="finishFullScreen(event)">
    <div>
        <div>
        <span class="response">
__      __  _____   _____    ______    ____
\ \    / / |_   _| |  __ \  |  ____|  / __ \
 \ \  / /    | |   | |  | | | |__    | |  | |
  \ \/ /     | |   | |  | | |  __|   | |  | |
   \  /     _| |_  | |__| | | |____  | |__| |
    \/     |_____| |_____/  |______|  \____/
        </span>
        </div>
    </div>

    <div>
        <div>
            <span class="location">[/] ></span>
            <span class="command">cd tutorial</span>
        </div>
    </div>

    <div>
        <div>
            <span class="location">[tutorial] ></span>
            <span class="command">execute npc.sh</span>
        </div>
        <div>
            <span class="response">I am an npc</span>
        </div>
    </div>

    <span class="footer">
        Press Q to quit
    </span>
</div>