<div th:replace="executed-command :: executed-command (line=${line})">

</div>

<div id="full-screen" hx-swap-oob="true" onkeyup="finishFullScreen(event)">
    <div>
        <div>
        <span class="line-response">
__      __  _____   _____    ______    ____
\ \    / / |_   _| |  __ \  |  ____|  / __ \
 \ \  / /    | |   | |  | | | |__    | |  | |
  \ \/ /     | |   | |  | | |  __|   | |  | |
   \  /     _| |_  | |__| | | |____  | |__| |
    \/     |_____| |_____/  |______|  \____/
        </span>
        </div>
    </div>

    <div th:each="vline : ${lines}">
        <div th:replace="executed-command :: executed-command (line=${vline})">

        </div>
    </div>

    <span class="footer">
        Press Q to quit
    </span>
</div>
