<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TerminalOuterWilds</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/main.css}" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css">
</head>
<body>
Hello world
Current time is <span th:text="${serverTime}"></span>
</body>
</html>
